<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">STUTERN</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= link_to 'SINGIN', students_new_path %><span class="caret"></span></a>
      </li>
      <li><%= link_to 'POST OPPORTUNITIES', new_listing_path %></li>
    </ul>
  </div>
</nav>